# cache
Thumbs.db
Desktop.ini
*.DS_Store
*.empty
*~

# IDE
*.sublime-workspace
*.sublime-project
.idea
.vscode


# project
psd/
tech-desk/
./test/


dist/
node_modules/
dist/bower_components/
dev_data/
package-lock.json