doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='author', content='')
		title ProjectTitle
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic-ext', rel='stylesheet', type='text/css')
		link(href='http://dev.markup.geniusee.space/gulp-frontend/style.css', rel='stylesheet', type='text/css')
	body
		.project-pages-block
			.prjct-pgs__header
				.container
					h2 Project Name
			.prjct-pgs__body
				.container
					.prjct-pgs__ttl
						.prjct-pgs__group.row
							.col-xs-24.col-md-12.firstColumm
							.col-xs-24.col-md-12.secondColumm
		script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
		script.
			var linksArray = [
				'main'
			]

		script(src="http://dev.markup.geniusee.space/gulp-frontend/page-build.js")
