
mixin head(data)
	- var project_mame = 'Unic'
		unless (data)
			- var data = {}
	head
		// page name
		title=data.title ? project_mame + ' | ' + data.title : ' | New page'
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// Optional styles
		link(href='https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
		link(href='s/css/all.css', rel='stylesheet')